<header>
    <div id="headerWrapper">
        <div id="logo"><a href="/Relacx">Relacx</a></div>

        <div class="navIcon">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>

        <div id="headerContent">
            <div class="headerItem" data-item="docs">
                <a href="docs">Docs</a>
            </div>
            <div class="headerItem" data-item="tutorials">
                <a href="tutorials">Tutorials</a>
            </div>
            <div class="headerItem" data-item="example">
                <a href="example">Example</a>
            </div>
            <div class="headerItem" data-item="feedback">
                <a href="feedback">Feedback</a>
            </div>
        </div>


        <div id="externalLink">
            <div class="externalItem">
                <a href="https://github.com/webXtended/Relacx" target="_blank">
                    Github
                </a>
            </div>
        </div>
    </div>
</header>
