<!--https://cloudfour.com/thinks/the-hidden-power-of-handlebars-partials/#fn-4803-5-->

<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>
        {{#if title}}
            {{title}}
        {{else}}
            Relacx JS
        {{/if}}
    </title>

    <link type="text/css" rel="stylesheet" href="stylesheets/common.css"/>

    {{#> head-block}}
    {{/head-block}}

</head>

<body>

    {{#> header-block}}
        {{> includes/header }}
    {{/header-block}}

    {{#> content-block}}
    {{/content-block}}

    {{#> footer-block}}
        {{> includes/footer }}
    {{/footer-block}}

    {{#> scripts-block}}
        <script>
            window.addEventListener("load", function(){
                var navIcon = document.querySelector(".navIcon");
                var headerContent = document.querySelector("#headerContent");
                navIcon.addEventListener("click", function() {
                    if(headerContent.classList.contains("open")){
                        headerContent.classList.remove("open");
                    }else{
                        headerContent.classList.add("open");
                    }
                });
            });
        </script>
    {{/scripts-block}}

</body>
</html>