
div#banner {
    width: 100%;
    height: auto;
    background-color: #31847c;
    color: white;
    margin-bottom: 50px;
    padding-bottom: 50px;
}


h1.title {
    text-align: center;
    padding-top: 70px;
    font-size: 8vw;
    margin: 0;
    letter-spacing: 1px;
}

h3.subtitle {
    text-align: center;
    font-size: 3vw;
    letter-spacing: 1px;
    display: block;
    font-weight: normal;
}



.subtitleLogo{
    color: #efb03a;
}


.installContainer {
    margin-bottom: 50px;
    padding: 10px;
    text-align: center;
}

code.npm, code.github {
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
}

code.github a {
    color: inherit;
    text-decoration: none;
}

.gap{
    margin: 10px 0;
}