section.installation {
    padding-top: 10px;
}

code {
    background-color: rgba(59, 59, 142, 0.18);
    padding: 5px 10px;
    border-radius: 2px;
    display: block;
    margin: 5px 0;
}

.sectionContent {
    padding-left: 20px;
}