.todoItem {
    background-color: #f2f2f2;
    margin-top: 5px;
    position: relative;
    padding: 5px;
}

div#todoApp {
    border: 1px solid #dbdbdb;
    width: 400px;
    margin: 0 auto;
    background-color: white;
}

.addSection {
    height: 40px;
    width: 100%;
}

.todoCross {
    color: red;
    font-family: monospace;
    font-weight: bold;
    font-size: 18px;
    float: right;
    position: absolute;
    top: 2px;
    right: 9px;
    cursor: pointer;
}

.removeText {
    width: calc(100% - 22px);
    font-family: monospace;
}

.addContiner {
    height: 100%;
    border-bottom: 1px solid #dbdbdb;
}

input.addInput {
    height: 100%;
    border: none;
    width: calc(100% - 80px);
    box-sizing: border-box;
    padding-left: 5px;
}

button.addButton {
    border: none;
    background-color: #00b563;
    height: 100%;
    width: 80px;
    color: white;
    cursor: pointer;
}

.notificationContainer {
    border: 1px solid #138686;
    padding: 5px;
    border-radius: 5px;
    background-color: #d1f4ff;
    color: black;
    font-family: monospace;
    position: relative;
}

.notificationSection {
    position: fixed;
    bottom: 0;
    margin: 0 auto;
    overflow: hidden;
}

html, body {
    min-height: 100%;
    min-width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 10px;
    background-color: #343434;
}

input.addInput:focus {
    outline: none;
}
